*
  margin: 0
  padding: 0
  outline: 0
body
  font-family: arial,Microsoft YaHei,tahoma,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
a,h1,h2,h3,span,li,em
  color:#fff
  font-weight: 400
ul,li
  list-style: none
  list-style-type: none
a
  text-decoration: none
  cursor: pointer
